<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--  <title>Register page</title>-->
<!--  <style>-->
<!--    hr {-->
<!--      display: block;-->
<!--      height: 1px;-->
<!--      border: 0;-->
<!--      border-top: 1px solid #ccc;-->
<!--      margin: 1em 0;-->
<!--      width: 468px;-->
<!--      /*padding: 0;*/-->
<!--    }-->
<!--  </style>-->
<!--</head>-->
<!--<body>-->
<!--<div style="margin-top: 72px; margin-left: 384px;">-->
<!--  <h1 style="margin-bottom: 48px;">Register Page</h1>-->
<!--  <div class="form-group">-->
<!--    <div class="form-group">-->
<!--      <label class="col-sm-2 control-label" for="email" style="font-size: 18px; font-weight: normal; width: 124px; padding-left: 0px;">First name:</label>-->
<!--      <div class="col-sm-8" style="margin-left: 0px; padding-left: 0px; width: 358px;">-->
<!--        <input type="email" class="form-control" th:field="*{email}" id="email"/>-->
<!--        <small class="form-text text-muted" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>-->
<!--      </div><br><br>-->
<!--      <div class="form-group">-->
<!--        <label class="col-sm-2 control-label" for="email" style="font-size: 18px; font-weight: normal; width: 124px; padding-left: 0px;">Last name:</label>-->
<!--        <div class="col-sm-8" style="margin-left: 0px; padding-left: 0px; width: 358px;">-->
<!--          <input type="email" class="form-control" th:field="*{email}" id="email"/>-->
<!--          <small class="form-text text-muted" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>-->
<!--        </div><br><br>-->
<!--        <label class="col-sm-2 control-label" for="email" style="font-size: 18px; font-weight: normal; width: 124px; padding-left: 0px;">E-mail:</label>-->
<!--        <div class="col-sm-8" style="margin-left: 0px; padding-left: 0px; width: 358px;">-->
<!--          <input type="email" class="form-control" th:field="*{email}" id="email"/>-->
<!--          <small class="form-text text-muted" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>-->
<!--        </div><br><br>-->
<!--        <div class="form-group">-->
<!--          <label class="col-sm-2 control-label" type="password" style="font-size: 18px; font-weight: normal; width: 124px; padding-left: 0px;">Password:</label>-->
<!--          <div class="col-sm-8" style="margin-left: 0px; padding-left: 0px; width: 358px;">-->
<!--            <input type="password" id="pwd" name="pwd" class="form-control"/>-->
<!--            <small class="form-text text-muted" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div> <br><br>-->
<!--      <div style="margin-left: 388px; margin-bottom: 24px;">-->
<!--        <input type="submit" class="btn btn-info" value="Register"/>-->
<!--      </div>-->
<!--      <hr/>-->
<!--      <div>-->
<!--        <p style="font-size: 16px; margin-left: 92px;">You already have an account?-->
<!--          <a th:href="@{|/todos/${todo.id}/tasks|}">Sign in!</a></p>-->

<!--      </div>-->
<!--    </div>-->
<!--</body>-->
<!--</html>-->
