<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Login form</title>
    <style>
        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #ccc;
            margin: 1em 0;
            width: 450px;
            /*padding: 0;*/
        }
    </style>
</head>
<body>
<form class="form-horizontal" method="get" th:action="@{/login-form}" th:object="${user}">
<div style="margin-top: 72px; margin-left: 384px; margin-bottom: 0px;">
    <h1 style="margin-bottom: 48px;">Login Page</h1>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="email" style="font-size: 18px; font-weight: normal; width: 124px; padding-left: 0px;">Username:</label>
        <div class="col-sm-8" style="margin-left: 0px; padding-left: 0px; width: 358px;">
            <input type="email" class="form-control" th:field="*{email}" id="email"/>
            <small class="form-text text-muted" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
        </div><br><br>
        <div class="form-group" style="margin-bottom: 0px;">
            <label class="col-sm-2 control-label" for="email" style="font-size: 18px; font-weight: normal; width: 124px; padding-left: 0px; margin-left: 14px;">Password:</label>
            <div class="col-sm-8" style="margin-left: 0px; padding-left: 0px; width: 358px;">
                <input class="form-control" id="new-password" required th:field="*{password}" type="password"/>
                <small class="form-text text-muted" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
            </div>
        </div>
    </div>
    <form th:action="@{/login-form}" method="get">
        <div style="margin-left: 390px; margin-bottom: 24px; margin-top: 0px;">
            <input type="submit" class="btn btn-info" value="LogIn"/>
        </div>
    </form>
    <hr/>
    <div>
        <p style="font-size: 16px; margin-left: 92px;">Don't have an account?
<!--            <a th:href="@{|/todos/${todo.id}/tasks|}">Register now!</a>-->
        </p>
    </div>
</div>
</form>
</body>
</html>